.login-container {

  height: calc(100vh - 0px);

  width: calc(100vw - 0px);

}

.mat-card{

  height: 550px;

  width: 750px;

  background-color: #FFFFFF;

}


button {
  width: 140px;

  border-radius: 6px;

  &.mat-raised-button {
    width: 200px;

    border-radius: 23px;

    height: 40px;

    box-shadow: none;
  }
}

.logo-name {
  width: 350px;

  height: 70px;

  flex-direction: row;
}
