<div class="login-container" fxLayout="row" fxLayoutAlign="center center">

  <div fxLayout="row" fxLayoutAlign="center center">

    <form [formGroup]="loginConfig.standardLogin.loginBuilder">

      <mat-card fxLayout="row" fxLayoutGap="15px">

        <div fxLayout="column">

          <div fxLayout="column" fxLayoutAlign="center center" style="padding-top: 15px;">

            <lib-input-control [formControlName]="'emailAddress'" [type]="'text'"
              [placeHolder]="'Please enter your email address'" [label]="'Email Address'"></lib-input-control>

            <lib-input-control [formControlName]="'password'" [type]="'password'"
              [placeHolder]="'Please enter your password'" [label]="'Password'"></lib-input-control>

          </div>

          <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="15px">

            <button mat-raised-button [color]="'primary'" [disableRipple]="true" (click)="loginWithAccount($event)"
              class="font-size">Login</button>

            <button mat-button [disableRipple]="true" class="font-size">Create Account</button>

          </div>

        </div>

        <img class="background-image" [src]="'assets/images/cyberiam-image.png'" />

      </mat-card>

    </form>

  </div>

</div>
